<%- include('../includes/header'); %>

<div class="container">
  <h2>Create User</h2>
  <form action="/users/store" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Nama</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">image</label>
      <input type="file" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include('../includes/footer'); %>